doctype html
html.no-js(lang="ru")
	include templates/structure/head
	body
		include templates/structure/header
		main
			include templates/widgets/clients-top-section
			include templates/widgets/cases
			include templates/widgets/fast-order
			include templates/widgets/clients-list			
			include templates/widgets/subscribe

		include templates/widgets/popup-form
		include templates/widgets/popup-order
		include templates/structure/footer
		include templates/structure/scripts