doctype html
html.no-js(lang="ru")
	include templates/structure/head
	body
		include templates/tpl/svg-logo
		include templates/structure/header
		main
			include templates/widgets/video-top-section
			include templates/widgets/tabs
			include templates/widgets/presentation
			include templates/widgets/diagonal-gradient
			include templates/widgets/review-slider
			include templates/widgets/subscribe

		include templates/widgets/popup-form
		include templates/structure/footer
		include templates/structure/scripts