doctype html
html.no-js(lang="ru")
	include templates/structure/head
	body
		include templates/structure/header
		main
			include templates/widgets/product-top-section
			include templates/widgets/advantages
			include templates/widgets/fast-order
			include templates/widgets/product-advan
			include templates/widgets/more-info			
		
		include templates/widgets/popup-form
		include templates/widgets/popup-order
		include templates/structure/footer
		include templates/structure/scripts