doctype html
html.no-js(lang="ru")
	include templates/structure/head
	body
		include templates/structure/header
		main
			include templates/widgets/product-top-section
			include templates/widgets/product-advan
			include templates/widgets/send-form
		
		include templates/widgets/popup-form
		include templates/structure/footer
		include templates/structure/scripts