section.top-image.triangle.mb3
	img(src="img/clients1.png" style="width:45%" alt="alt")
	div.content
		div.container
			div.row
				div.col-md-6
					h1.title-defoult.mb2 Клиенты
					p.text Наш продукт является существенным конкурентным преимуществом для вашего бизнеса. С нашей программой вы cможете высвободить до 35% оборотных средств - точнее перевести их в самый ликвидный вид оборотных средств - деньги.
					a(href="#" class="btn mt2") first button
					button(type="button" class="btn mt2 pop" data-show="popup-an") Связаться
				div.col-md-6