section.tabs-wrap.tabs.tooltip
	div.container
		div.row
			div.col-md-4
				ul.tabs.index.center
					li(class="tab-link active" data-show="ideologiya") Украина
					li(class="tab-link" data-show="functionality") Россия
					li(class="tab-link" data-show="form") Казахстан
					li(class="tab-link" data-show="form") Польша
			div.col-md-8
				div.tabs-wrap.text
					div.tab(data-index="1")
						div.tooltip
							ul
								li Address
									p Heroiv Stalinhradu Avenue, 8, Kiev
								li Phone
									p 
										a(href="tel://+380 (44) 207-39-55") +380 (44) 207-39-55
								li Email
									p
										a(href="mailto:sales@abmcloud.com") sales@abmcloud.com
						img(src="img/con1.png")
						include ../tpl/soc-block
					div.tab(data-index="2")
						div.tooltip
							ul
								li Address
									p Heroiv Stalinhradu Avenue, 8, Kiev
								li Phone
									p 
										a(href="tel://+380 (44) 207-39-55") +380 (44) 207-39-55
								li Email
									p
										a(href="mailto:sales@abmcloud.com") sales@abmcloud.com
						img(src="img/con2.png")
						include ../tpl/soc-block
					div.tab(data-index="3")
						div.tooltip
							ul
								li Address
									p Heroiv Stalinhradu Avenue, 8, Kiev
								li Phone
									p
										a(href="tel://+380 (44) 207-39-55") +380 (44) 207-39-55
								li Email
									p
										a(href="mailto:sales@abmcloud.com") sales@abmcloud.com
						img(src="img/con3.png")
						include ../tpl/soc-block
					div.tab(data-index="4")
						div.tooltip
							ul
								li Address
									p Heroiv Stalinhradu Avenue, 8, Kiev
								li Phone
									p 
										a(href="tel://+380 (44) 207-39-55") +380 (44) 207-39-55
								li Email
									p
										a(href="mailto:sales@abmcloud.com") sales@abmcloud.com
						img(src="img/con4.png")
						include ../tpl/soc-block