section.fast-order-small.mailcimp
	div.container
		div.row
			div.col-md-12
				h3.text-variant 
					span Подпишитесь на рассылку, 
					| и получайте новости от ABMCloud
				form(action="action" class="style")
					input(type="email" placeholder="Введите ваш E-mail" required)
					button(type="submit" class="btn") подписаться