section.lowpoly-cards
	-
		var list = ['img/lowpoly-hexagon.png','img/triangle-low-poly.png','img/lowpoly-thomb.png','img/lowpoly-hexagon.png']
	for item, index in list
		div.cont-wrap
			div.container
				div.row
					.col-md-12
						if index%2 === 0
							div.content
								div.image-wrap(data-index='0'+(index+1))
									img(src= item alt="alt")
								div.card-wrap
									h3.title-defoult.mb3 Lorem ipsum dolor sit amet, consectetur.
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore minus dolores, nostrum ducimus placeat esse amet sint cupiditate itaque incidunt!
									a(href="#" class="btn big mt2") Read more
								span.decor
						else
							div.content
								div.card-wrap
									h3.title-defoult.mb3 Lorem ipsum dolor sit amet, consectetur.
									ul
										li Lorem ipsum dolor sit amet, consectetur adipisicing.
										li Lorem ipsum dolor sit amet, consectetur adipisicing.
										li Lorem ipsum dolor sit amet, consectetur adipisicing.
										li Lorem ipsum dolor sit amet, consectetur adipisicing.
									a(href="#" class="btn big mt2") Read more
								span.decor
								div.image-wrap(data-index='0'+(index+1))
									img(src= item alt="alt")
