section.map-wrap.center.mt4.mb3
	div.container
		div.row
			div.col-md-12.clrp
					div.gmap-card
						div.img-wrap
							img(src="img/kyiv.jpg")
						div(class="gmap" data-lat="50.473119" data-lng="30.4500583" data-zoom="5" data-marker="img/marker.png")						
						ul.text.left
							li Address: Heroiv Stalinhradu Avenue, 8, Kiev
							li Phone: 
								a(href="tel://+380 (44) 207-39-55") +380 (44) 207-39-55
							li Email:
								a(href="mailto:sales@abmcloud.com") sales@abmcloud.com
					div.gmap-card
						div.img-wrap
							img(src="img/moscov.jpg")
						div(class="gmap" data-lat="50.473119" data-lng="30.4500583" data-zoom="5" data-marker="img/marker.png")
						ul.text.left
							li Address: Heroiv Stalinhradu Avenue, 8, Kiev
							li Phone: 
								a(href="tel://+380 (44) 207-39-55") +380 (44) 207-39-55
							li Email:
								a(href="mailto:sales@abmcloud.com") sales@abmcloud.com
					div.gmap-card
						div.img-wrap
							img(src="img/kyiv.jpg")
						div(class="gmap" data-lat="50.473119" data-lng="30.4500583" data-zoom="5" data-marker="img/marker.png")
						ul.text.left
							li Address: Heroiv Stalinhradu Avenue, 8, Kiev
							li Phone: 
								a(href="tel://+380 (44) 207-39-55") +380 (44) 207-39-55
							li Email:
								a(href="mailto:sales@abmcloud.com") sales@abmcloud.com
					div.gmap-card
						div.img-wrap
							img(src="img/moscov.jpg")
						div(class="gmap" data-lat="50.473119" data-lng="30.4500583" data-zoom="5" data-marker="img/marker.png")
						ul.text.left
							li Address: Heroiv Stalinhradu Avenue, 8, Kiev
							li Phone: 
								a(href="tel://+380 (44) 207-39-55") +380 (44) 207-39-55
							li Email: 
								a(href="mailto:sales@abmcloud.com") sales@abmcloud.com