section.map-wrap.center
	div.container
		div.row
			div.col-md-12.clrp
					div.gmap-card
						div(class="gmap" data-lat="50.473119" data-lng="30.4500583" data-zoom="5" data-marker="img/marker.png")
					div.gmap-card
						div(class="gmap" data-lat="50.473119" data-lng="30.4500583" data-zoom="5" data-marker="img/marker.png")
					div.gmap-card
						div(class="gmap" data-lat="50.473119" data-lng="30.4500583" data-zoom="5" data-marker="img/marker.png")
					div.gmap-card
						div(class="gmap" data-lat="50.473119" data-lng="30.4500583" data-zoom="5" data-marker="img/marker.png")