section.map-wrap
	div.container-fluid
		div.row
			div.col-md-3.clrp.contacts-map
				div.phone-list
					h4 Россия
					a(href="tel://+7(495) 204-15-09")
						i.fa.fa-phone
						| +7(495) 204-15-09
					h4 Казахстан
					a(href="tel://+7 (727) 311-03-51")
						i.fa.fa-phone
						| +7 (727) 311-03-51
					h4 Украина
					a(href="tel://+380 (44) 207-39-55")
						i.fa.fa-phone
						| +380 (44) 207-39-55
					h4 Польша
					a(href="tel://+48 (22) 206-21-05")
						i.fa.fa-phone
						| +48 (22) 206-21-05
				include ../tpl/soc-block
			div.col-md-9.clrp
				div#map
					div(class="gmap" data-lat="50.473119" data-lng="30.4500583" data-zoom="5" data-marker="img/marker.png")