section.main-triangle.product
	div.percent-info
		div.container
			div.row
				div.col-md-6
					div.descr-block
						h1.title-defoult.mb2 Product name!
						p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti dolorum amet aliquid facere rem excepturi quos cupiditate commodi, inventore quam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti dolorum amet aliquid facere rem excepturi quos cupiditate commodi, inventore quam!
						a(href="#" class="btn") first button
						button(type="button" class="btn pop" data-show="popup-an") Связаться
				div.col-md-6
					div.video-wrap
						iframe(width="560" height="315" src="https://www.youtube.com/embed/rQNcY0bEe-E" frameborder="0" allowfullscreen)
						img(src="img/monitor1.png" alt="alt")
	img(class="hills" src="img/hill-svg1.png" alt="alt")
	div.animation-arrow
		div.arrow-anim.arrow-1
		div.arrow-anim.arrow-2