section.send-section
	h3.text-variant Подпишитесь на рассылку, 
		span и получайте новости от ABMCloud
	form(action="action" class="style")
		input(type="email" placeholder="Введите ваш E-mail" required)
		button(type="submit" class="btn") подписаться