section.tabs-wrap.tabs
	//- h3.title-triangle Узнать больше о системе.
	//- h3.sub-title-triangle.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, distinctio.
	div.container
		div.row
			div.col-md-4
				ul.tabs.index.center
					li(class="tab-link active" data-show="ideologiya") Идеология
					li(class="tab-link" data-show="functionality") Функционал
					li(class="tab-link" data-show="form") Внедрение
					li(class="tab-link" data-show="form") Использование
					li(class="tab-link" data-show="form") Поддержка
			div.col-md-8
				div.tabs-wrap.text
					div.tab(data-index="1")
						h2 Идеология
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, laborum non ipsam iusto ullam commodi ipsa, unde veniam maiores at nemo pariatur, libero ipsum eos debitis delectus. Deserunt, iusto, facilis?
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cum numquam, ipsa doloremque, non ipsum atque praesentium architecto eius molestias.
						p Lorem ipsum dolor sit amet.
							a(href="/") reed more
						ul
							li Управление стратегией. Strategy management.
							li Управление человеческими ресурсами. Human Resource Management.
							li Управление бизнес-процессами и workflow. Business Process Management.
							li Корпоративный контроллинг. Business Performance Management.
							li Отчетность, анализ и прогнозирование. Управление эффективностью бизнеса. Business Intelligence & Performance Management.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus temporibus a libero dicta sunt quisquam nisi quas quis enim earum alias commodi, cum consequatur, ratione voluptatum placeat molestiae officia? Expedita.
					div.tab(data-index="2")
						h2 Функционал
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, laborum non ipsam iusto ullam commodi ipsa, unde veniam maiores at nemo pariatur, libero ipsum eos debitis delectus. Deserunt, iusto, facilis?
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cum numquam, ipsa doloremque, non ipsum atque praesentium architecto eius molestias.
						p Lorem ipsum dolor sit amet.
						ul
							li Управление стратегией. Strategy management.
							li Управление человеческими ресурсами. Human Resource Management.
							li Управление бизнес-процессами и workflow. Business Process Management.
							li Корпоративный контроллинг. Business Performance Management.
							li Отчетность, анализ и прогнозирование. Управление эффективностью бизнеса. Business Intelligence & Performance Management.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus temporibus a libero dicta sunt quisquam nisi quas quis enim earum alias commodi, cum consequatur, ratione voluptatum placeat molestiae officia? Expedita.
					div.tab(data-index="3")
						h2 Внедрение
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, laborum non ipsam iusto ullam commodi ipsa, unde veniam maiores at nemo pariatur, libero ipsum eos debitis delectus. Deserunt, iusto, facilis?
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cum numquam, ipsa doloremque, non ipsum atque praesentium architecto eius molestias.
						p Lorem ipsum dolor sit amet.
						ul
							li Управление стратегией. Strategy management.
							li Управление человеческими ресурсами. Human Resource Management.
							li Управление бизнес-процессами и workflow. Business Process Management.
							li Корпоративный контроллинг. Business Performance Management.
							li Отчетность, анализ и прогнозирование. Управление эффективностью бизнеса. Business Intelligence & Performance Management.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus temporibus a libero dicta sunt quisquam nisi quas quis enim earum alias commodi, cum consequatur, ratione voluptatum placeat molestiae officia? Expedita.
					div.tab(data-index="4")
						h2 Использование
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, laborum non ipsam iusto ullam commodi ipsa, unde veniam maiores at nemo pariatur, libero ipsum eos debitis delectus. Deserunt, iusto, facilis?
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cum numquam, ipsa doloremque, non ipsum atque praesentium architecto eius molestias.
						p Lorem ipsum dolor sit amet.
						ul
							li Управление стратегией. Strategy management.
							li Управление человеческими ресурсами. Human Resource Management.
							li Управление бизнес-процессами и workflow. Business Process Management.
							li Корпоративный контроллинг. Business Performance Management.
							li Отчетность, анализ и прогнозирование. Управление эффективностью бизнеса. Business Intelligence & Performance Management.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus temporibus a libero dicta sunt quisquam nisi quas quis enim earum alias commodi, cum consequatur, ratione voluptatum placeat molestiae officia? Expedita.
					div.tab(data-index="5")
						h2 Поддержка
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, laborum non ipsam iusto ullam commodi ipsa, unde veniam maiores at nemo pariatur, libero ipsum eos debitis delectus. Deserunt, iusto, facilis?
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cum numquam, ipsa doloremque, non ipsum atque praesentium architecto eius molestias.
						p Lorem ipsum dolor sit amet.
						ul
							li Управление стратегией. Strategy management.
							li Управление человеческими ресурсами. Human Resource Management.
							li Управление бизнес-процессами и workflow. Business Process Management.
							li Корпоративный контроллинг. Business Performance Management.
							li Отчетность, анализ и прогнозирование. Управление эффективностью бизнеса. Business Intelligence & Performance Management.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus temporibus a libero dicta sunt quisquam nisi quas quis enim earum alias commodi, cum consequatur, ratione voluptatum placeat molestiae officia? Expedita.