section.tabs-wrap
	div.container
		div.row
			div.col-md-4
				ul.tabs
					li
						button(type="button" data-index="0" class="tab-title active") Valuable
					li
						button(type="button" data-index="1" class="tab-title") Effective
					li
						button(type="button" data-index="2" class="tab-title") Real-time
					li
						button(type="button" data-index="3" class="tab-title") Integrated
					li
						button(type="button" data-index="4" class="tab-title") Accurate
					li
						button(type="button" data-index="5" class="tab-title") Analytical
			div.col-md-8
				div.contentent-wrap.right
					a(href="#")
						img( class="monitor" src="img/monitor.png" alt="alt")
					div.content-item
						img(src="img/tab1.png" class="active" alt="alt")
						img(src="img/tab2.png" alt="alt")
						img(src="img/tab3.png" alt="alt")
						img(src="img/tab1.png" alt="alt")
						img(src="img/tab2.png" alt="alt")
						img(src="img/tab3.png" alt="alt")